%flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

%part-name {
  span {
    color: $orange;
    font-family: Sacramento, sans-serif;
    font-size: 32px;
  }

  h3 {
    padding-top: 10px;
    font-family: LobsterTwo-regular, sans-serif;
    font-size: 36px;
  }
}

%slider-nav {
  color: $white;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(to left, #00fff0 0%, #40b1e5 100%);
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  %slider-nav {
    width: 50px;
    height: 50px;
  }
}