.price {
  padding-top: 188px;
  font-family: $Poppins-regular, sans-serif;

  &__name {
    @extend %part-name;
    text-align: center;
  }

  &__list {
    ul {
      margin: 0 auto;
      padding: 79px 0 93px;
      width: 698px;
      @extend %flex;

      li {
        a {
          text-decoration: none;
          color: $black;
          font-family: $Poppins-bold, sans-serif;
          font-size: 20px;
          outline: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

          &:hover {
            color: $orange;
            border-bottom: 2px solid $orange;
          }
        }
      }
    }
  }

  &__block {
    @extend %flex;

    &_item {
      width: 535px;
      padding-bottom: 50px;
      @extend %flex;

      &_text {
        width: 420px;

        h3 {
          font-size: 18px;
          font-family: $Poppins-bold, sans-serif;
          padding: 9px 0 19px;

          span {
            font-size: 24px;
            padding-left: 10px;
          }
        }

        p {
          width: 300px;
          color: $grey;
          font-size: 14px;
          line-height: 26px;
        }
      }
    }
  }

  &__button {
    text-align: center;
    margin: 70px 0 219px;

    a {
      padding: 15px 30px;
      color: $orange;
      border: 2px solid $orange;
      border-radius: 6px;
      text-decoration: none;
      transition: all .3s;
      outline: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      &:hover {
        color: $white;
        background: $orange;
      }
    }
  }
}

@media screen and (max-width: 1190px) {
  .price {
    &__block {
      flex-direction: column;

      figure {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .price {
    &__name {
      span {
        line-height: 40px;
      }
    }

    &__list {
      ul {
        width: 100%;
      }
    }

    &__block {
      display: block;

      &_item {
        width: 80%;

        &_text {
          padding-left: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 746px) {
  .price {
    &__block {
      display: block;

      &_item {
        width: 85%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .price {
    &__block {
      display: block;

      &_item {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 665px) {
  .price {
    &__block {
      display: block;

      &_item {
        width: 95%;
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .price {
    &__block {
      display: block;

      &_item {
        &_img {
          display: block;
          width: 100%;
          text-align: center;
          padding-bottom: 20px;

          img {
            width: 150px;
          }
        }
        &_text {
          margin: 0 auto;
          text-align: center;
          padding-left: 0;

          p {
            width: 100%;
          }
        }
      }
    }

    &__button {
      margin: 35px 0 150px;
    }
  }
}

@media screen and (max-width: 600px) {
  .price {
    &__name {
      span {
        line-height: 40px;
      }
    }

    &__list {
      ul {
        width: 100%;
        li {
          a {
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 505px) {
  .price {
    &__block {
      &_item {
        &_text {
          width: 80%;

          h3 {
            font-size: 14px;

            span {
              font-size: 15px;
            }
          }

          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .price {
    &__list {
      ul {
        width: 100%;

        li {
          a {
            font-size: 14px;
          }
        }
      }
    }

    &__block {
      &_item {
        &_text {
          width: 80%;

          h3 {
            font-size: 12px;

            span {
              font-size: 13px;
            }
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .price {
    &__list {
      ul {

        li {
          padding: 0 10px 10px 0;
          margin: 0 auto;

          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
    &__block {
      &_item {
        &_text {
          width: 100%;
        }
      }
    }
  }
}